@import url('https://fonts.googleapis.com/css?family=PC+Senior');

#note {
  width: 280px;
  height: 300px;
  margin: 10px;
  border: none;
  resize: none;
  background-color: rgba(255,255,255,0.8);
  font-family: 'PC Senior', cursive;
  font-size: 15px;
}

  
#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  font-family: Arial, sans-serif;
  height: 100%; 
}
  
  h1 {
    text-align: center;
    color: white;
    background: linear-gradient(to right, #FF9800, #FFC107);
    margin: 0;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  #status {
    text-align: center;
  }
